/* General */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
header nav {
    width: 100%;
}

header nav .logo {
    width: 173px;
    height: 25px;
}

header nav .header-icon {
    width: 23px;
    height: 23px;
}

header nav .header-icon.first {
    margin-right: 25px;
}

/* Header title and paragraph */
header .top-text {
    text-align: center;
    letter-spacing: 0;
}

/* Header input and button */
header .form {
    display: flex;
}

header .form input {
    border: none;
    border-radius: 3px;
    text-indent: 12px
}

header .form input[type=text]::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
}

header .form input[type=text] {
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    padding: 0px;
}

header .form input[type=button] {
    /* font style */
    font-weight: bold;
    color: #004A80;
    text-transform: uppercase;
    /* input style */
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
}

/* Bottom paragraph */
header .bottom-text {
    width: 100%;
    display: flex;
    margin-top: 20px;
    text-align: left;
}

header .bottom-text .icon {
    width: 15px;
    height: 19px;
}

header .bottom-text p {
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    font-weight: bold;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    header {
        padding: 20px 15px 40px 15px;
    }

    /* Header title and paragraph */
    header .top-text {
        margin-top: 30px;
    }

    header .top-text h1 {
        font-size: 38px;
    }

    header .top-text p {
        margin-top: 10px;
        line-height: 23px;
    }

    header .top-text span {
        font-weight: bold;
    }

    /* Header input and button */
    header .form {
        margin-top: 20px;
        flex-direction: column;
    }

    header .form input {
        width: 280px;
        height: 50px;
    }

    header .form input[type=button] {
        margin-top: 10px;
        /* font style */
        font-family: lato;
        font-size: 22px;
        letter-spacing: 0.93px;
    }

    /* Bottom paragraph */
    header .bottom-text .icon {
        margin-right: 10px;
    }
}

/* Table */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 20px 15px 60px 15px;
    }

    /* Header title and paragraph */
    header .top-text {
        margin-top: 50px;
    }

    header .top-text h1 {
        font-size: 48px;
    }

    header .top-text p {
        margin-top: 15px;
        line-height: 25px;
        font-size: 20px;
    }

    header .top-text span {
        font-weight: bold;
    }

    header .form {
        margin-top: 28px;
        flex-direction: row;
    }

    header .form input {
        height: 70px;
    }

    header .form input[type=text] {
        margin-right: 20px;
        width: 518px;
    }

    header .form input[type=button] {
        width: 180px;
        /* font style */
        font-size: 24px;
        letter-spacing: 1px;
    }

    /* Bottom paragraph */
    header .bottom-text .icon {
        margin-right: 15px;
    }
}