/* General */
/* Navbar */
header {
    background-color: #004A80;
    padding: 20px 15px 20px 15px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header nav .logo {
    width: 173px;
    height: 25px;
}

header nav .header-icon {
    width: 23px;
    height: 23px;
}

header nav .header-icon.first {
    margin-right: 25px;
}

/* Top section */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004A80;
    color: #ffffff;
}

/* Top section title and paragraph */
.search-section .top-text {
    text-align: center;
    letter-spacing: 0;
}

.search-section .top-text h1, .search-section .top-text span {
    font-weight: bold;
}

/* Top section input and button */

.search-section .form-section form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-section .form-section input {
    border: none;
    border-radius: 3px;
    text-indent: 12px;
}

.search-section .form-section input,
.search-section .form-section input[type=text]::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 18px;
}

.search-section .form-section input[type=text]::placeholder {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.search-section .form-section input[type=text] {
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    padding: 0px;
}

.search-section .form-section input[type=button] {
    /* font style */
    font-weight: bold;
    color: #004A80;
    text-transform: uppercase;
    /* input style */
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
}

/* Bottom paragraph */
.search-section .bottom-text {
    width: 100%;
    display: flex;
    margin-top: 20px;
    text-align: left;
}

.search-section .bottom-text .icon {
    width: 15px;
    height: 19px;
}

.search-section .bottom-text p {
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    font-weight: bold;
}

/* main content */
.main {
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.main h1 {
    color: #004A80;
    text-align: center;
}

.main>p {
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 28px;
}

.main .cards {
    display: flex;
}

.main .cards .col .card {
    display: flex;
}

.main .cards .col .card.first-card {
    margin-top: 0px;
}

.main .cards .col .card .number {
    background-color: #004A80;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main .cards .col .card .number span {
    font-weight: bold;
}

.main .cards .col .card .right-text h2 {
    font-weight: bold;
    color: #004A80;
    letter-spacing: 0;
}

.main .cards .col .card .right-text p {
    color: #000000;
    line-height: 24px;
    margin-top: 8px;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    /* Top section title and paragraph */
    .search-section {
        padding: 10px 15px 40px 25px;
    }

    .search-section .top-text h1 {
        font-size: 38px;
    }

    .search-section .top-text p {
        margin-top: 10px;
        line-height: 23px;
    }

    /* Top section input and button */
    .search-section .form-section form {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .search-section .form-section input {
        width: 100%;
        height: 50px;
    }

    .search-section .form-section input[type=button] {
        margin-top: 10px;
        /* font style */
        font-family: lato;
        font-size: 22px;
        letter-spacing: 0.93px;
    }

    /* Bottom paragraph */
    .search-section .bottom-text .icon {
        margin-right: 10px;
    }

    /* main content */
    .main {
        padding: 30px 15px 30px 15px;
    }

    .main h1 {
        font-size: 38px;
    }

    .main>p {
        margin-top: 15px;
    }

    .main .cards {
        flex-direction: column;
        margin-top: 20px;
    }

    .main .cards .col .card {
        margin-top: 15px;
    }

    .main .cards .col .card .number {
        width: 50.4px;
        height: 50.4px;
        min-width: 50.4px;
        margin-right: 10.6px;
    }

    .main .cards .col .card .number span {
        font-size: 26.88px;
    }

    .main .cards .col .card .right-text h2 {
        font-size: 20px;
    }

    .main .cards .col .card .right-text p {
        font-size: 16px;
    }
}

/* Mobile landscape only */
@media (min-width: 481px) and (max-width: 767px) {

    /* Main content */
    .main .cards {
        flex-direction: row;
    }

    .main .cards .col .card.fourth-card {
        margin-top: 0px;
    }
}

/* Tablet & Desktop Shared */
@media (min-width: 768px) {
    /* Top section title and paragraph */
    .search-section .top-text p {
        margin-top: 15px;
    }

    /* Top section input and button */
    .search-section .form-section input {
        height: 70px;
    }

    .search-section .form-section input[type=text] {
        margin-right: 20px;
    }

    .search-section .form-section input[type=button] {
        width: 180px;
        font-size: 24px;
        letter-spacing: 1px;
    }

    /* Bottom paragraph */
    .search-section .bottom-text .icon {
        margin-right: 15px;
    }

    /* Main content */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .cards {
        flex-direction: row;
        justify-content: center;
    }

    .main .cards .col .card.fourth-card {
        margin-top: 0px;
    }

    .main .cards .col .card .number {
        margin-right: 20px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Top section title and paragraph */
    .search-section {
        padding: 30px 25px 60px 25px;
    }

    .search-section .top-text h1 {
        font-size: 48px;
    }

    .search-section .top-text p {
        line-height: 25px;
        font-size: 20px;
    }

    /* Top section input and button */
    .search-section .form-section form {
        margin-top: 28px;
        flex-direction: row;
    }

    .search-section .form-section input[type=text] {
        width: 518px;
    }

    /* main content */
    .main {
        padding: 30px 25px 30px 25px;
    }

    .main h1 {
        font-size: 48px;
    }

    .main>p {
        margin-top: 20px;
        font-size: 20px;
        max-width: 718px;
    }

    .main .cards {
        margin-top: 30px;
    }

    .main .cards .col.first-col {
        margin-right: 24px;
    }

    .main .cards .col .card {
        margin-top: 20px;
    }

    .main .cards .col .card .number {
        width: 63px;
        height: 63px;
        min-width: 63px;
    }

    .main .cards .col .card .number span {
        font-size: 33.6px;
    }

    .main .cards .col .card .right-text h2 {
        font-size: 20px;
    }

    .main .cards .col .card .right-text p {
        max-width: 264px;
        font-size: 16px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    /* Top section title and paragraph */
    .search-section {
        padding: 30px 230px 95px 230px;
    }

    .search-section .top-text h1 {
        font-size: 52px;
    }

    .search-section .top-text p {
        line-height: 29px;
        font-size: 24px;
    }

    /* Top section input and button */
    .search-section .form-section form {
        margin-top: 29px;
        flex-direction: row;
    }

    .search-section .form-section input[type=text] {
        width: 780px;
    }

    /* main content */
    .main {
        padding: 30px 25px 30px 25px;
    }

    .main h1 {
        font-size: 52px;
    }

    .main>p {
        margin-top: 20px;
        font-size: 22px;
        max-width: 980px;
    }

    .main .cards {
        margin-top: 40px;
    }

    .main .cards .col.first-col {
        margin-right: 60px;
    }

    .main .cards .col .card {
        margin-top: 30px;
    }

    .main .cards .col .card .number {
        width: 90px;
        height: 90px;
        min-width: 90px;
    }

    .main .cards .col .card .number span {
        font-size: 48px;
    }

    .main .cards .col .card .right-text h2 {
        font-size: 22px;
    }

    .main .cards .col .card .right-text p {
        max-width: 380px;
        font-size: 18px;
    }
}